<button nz-button nzType="primary" routerLink="add">Yeni kampaniya</button>

<ng-container *ngIf="campaignList$ | async as campaignList">
  <nz-table
    *ngIf="campaignList.length"
    #campaignListTable
    [nzData]="campaignList"
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th>Kampaniya adı</th>
        <th>Sığorta növü</th>
        <th>Seriyalar</th>
        <th>Başlama tarixi</th>
        <th>Bitmə tarixi</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of campaignList">
        <td>{{ data.campaignName }}</td>
        <td>{{ data.insureTypeName }}</td>
        <td>{{ data.policySeries }}</td>
        <td>{{ data.startDate | date: "dd.MM.yyyy" }}</td>
        <td>{{ data.endDate | date: "dd.MM.yyyy" }}</td>
        <td>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <!--        <button nz-button nzType="primary" (click)="copy(data)">-->
            <!--          <span nz-icon nzType="copy"></span>-->
            <!--          Kopyalamaq-->
            <!--        </button>-->
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              [routerLink]="'add'"
              [state]="{ campaignId: data.campaignId }"
            >
              <span nz-icon nzType="edit"></span>
            </button>
            <!--        <button nz-button nzType="default" nzShape="circle" (click)="showModal()">-->
            <!--          <span nz-icon nzType="info-circle"></span>-->
            <!--        </button>-->
            <!--        <button nz-button nzType="default" nzShape="circle" (click)="removeCampaign(data.campaignId)">-->
            <!--          <span nz-icon nzType="delete"></span>-->
            <!--        </button>-->
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
