<ng-container *ngIf="debitorDetails$ | async as data">
  <nz-breadcrumb nzSeparator=">" style="margin-bottom: 20px">
    <nz-breadcrumb-item><a routerLink="/debitor">Siyahı</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ debitorPersonName$ | async }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Detallı məlumat</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-table #debitorDetails [nzData]="data">
    <thead>
      <tr>
        <th></th>

        <th>SŞ tarixi</th>
        <th>SŞ seriyası</th>
        <th>SŞ nömrəsi</th>

        <th>Kommunikasiya növünün adı</th>
        <th>Siğortalının adı,soyadı</th>
        <th>Siğortalının emaili</th>
        <th>Siğortalının telefon nömrəsi</th>
        <th>Siğorta tipi</th>
        <th>Siğortalının tipi</th>
        <th>Son siğorta hadisəsinin nömrəsi</th>
        <th>Son siğorta hadisəsinin tarixi</th>
        <th>Siğorta hadisəsinin qərarı</th>
        <th>PDF sənəd</th>
        <th>Son kommunikasiya tarixi</th>

        <th>Siğortalının vəzifəsi</th>
        <th>Son Şərh</th>
        <th>Son şərh tarixi</th>

        <th>Məsul şəxs</th>
      </tr>
    </thead>
    <tbody>
      <ng-template
        ngFor
        let-debitorData
        [ngForOf]="debitorDetails.data"
        let
        i="index"
      >
        <tr>
          <td [(nzExpand)]="debitorData.expand"></td>

          <td>{{ debitorData.policyDate | date: "dd.MM.yyyy" }}</td>
          <td>{{ debitorData.policySeries }}</td>
          <td>{{ debitorData.policyNumber }}</td>
          <td>{{ debitorData.communicationTypeName }}</td>
          <td>{{ debitorData.clientNameSurname }}</td>
          <td>{{ debitorData.clientEmail }}</td>
          <td>{{ debitorData.clientPhone }}</td>
          <td>{{ debitorData.insureTypeId }}</td>

          <td>{{ debitorData.insuredType }}</td>

          <td>{{ debitorData.lastClaimNumber }}</td>
          <td>{{ debitorData.lastClaimDate | date: "dd.MM.yyyy" }}</td>
          <td>{{ debitorData.lastClaimDecision }}</td>
          <td>
            <a
              *ngIf="debitorData.protechUrl"
              [href]="debitorData.protechUrl"
              target="_blank"
              >Sənəd</a
            >
          </td>
          <td>{{ debitorData.lastCommunicationDate | date: "dd.MM.yyyy" }}</td>

          <td>{{ debitorData.clientPosition }}</td>
          <td *ngIf="!debitorData.lastComment">
            <button
              nz-button
              (click)="
                showAddComentModal(
                  debitorData.policyId,
                  debitorData.insureTypeId
                )
              "
              *rbac="[rolesList.COMMENTS_POST]"
            >
              Şərh yaz
            </button>
          </td>
          <td *ngIf="debitorData.lastComment">
            <a
              [routerLink]="[
                '/debitor/comments',
                debitorData.policyId,
                insuredTypesEnum[debitorData.insuredType],
                debitorData.insureTypeId,
                debitorData.insuredId
              ]"
              >{{ debitorData.lastComment }}</a
            >
          </td>
          <td>{{ debitorData.lastCommentDate | date: "dd.MM.yyyy" }}</td>

          <td>{{ debitorData.responsiblePerson }}</td>
        </tr>
        <tr [nzExpand]="debitorData.expand">
          <nz-table
            #innerTable
            [nzData]="debitorData.debtInfo"
            nzSize="middle"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>Ödənişin başlama tarixi</th>
                <th>Borc statusu</th>
                <th>Ödəniş üçün son tarix</th>
                <th>Ödənilməli məbləğ</th>
                <th>Ödənilmiş məbləğ</th>
                <th>Qalıq borc</th>
                <th>Ödənişin gecikmə müddəti(gün sayı ilə)</th>
                <th>Xitam edilməli olduğu tarix(uzadılma ilə birlikdə)</th>
                <th>Əgər hissəvi ödənişdirsə true olacaq</th>
                <th>Faktura nömrəsi</th>
                <th>Borcun əsasnaməsi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let innerData of innerTable.data; let i = index">
                <td>{{ innerData.payStartDate | date: "dd.MM.yyyy" }}</td>
                <td>{{ innerData.hasDebt ? "var" : "yoxdur" }}</td>
                <td>{{ innerData.payEndDate | date: "dd.MM.yyyy" }}</td>
                <td>{{ innerData.paySum }}</td>
                <td>{{ innerData.paid }}</td>
                <td>{{ innerData.debt }}</td>
                <td>{{ innerData.expireDayCount }}</td>
                <td>
                  <a
                    class="date-popup"
                    (click)="
                      showDateModal(
                        innerData.estimatedCancelDate,
                        debitorData,
                        i
                      )
                    "
                    *rbac="
                      [rolesList.CANCELLATION_INCREASE_BYPIVOT_POST];
                      replacement: (innerData.estimatedCancelDate
                        | date: 'dd.MM.yyyy')!
                    "
                    >{{ innerData.estimatedCancelDate | date: "dd.MM.yyyy" }}</a
                  >
                </td>
                <td>{{ innerData.isInstall }}</td>
                <td>
                  {{ innerData.invoiceNumber }}
                </td>
                <td *ngIf="!innerData.invoiceId">{{ innerData.debtPivot }}</td>
                <td *ngIf="innerData.invoiceId">
                  <a
                    [downloadFile]="invoiceDownloadUrl(innerData.invoiceId)"
                    *rbac="
                      [rolesList.DEBITORDETAILS_INVOICE_GET];
                      replacement: innerData.debtPivot
                    "
                    >{{ innerData.debtPivot }}</a
                  >
                </td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</ng-container>

<nz-modal
  [(nzVisible)]="isDateVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleDateOk()"
  [nzOkLoading]="isOkLoading"
  nzTitle="Xitam edilməli olduğu tarix"
>
  <div *nzModalContent>
    <nz-date-picker
      [(ngModel)]="selectedCancelDate"
      style="margin-bottom: 20px"
    ></nz-date-picker>
    <textarea rows="4" nz-input [(ngModel)]="cancelMessage"></textarea>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isAddCommentVisible"
  nzTitle="Şərh yaz"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="createComment()"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="!addCommentForm?.valid"
>
  <div *nzModalContent>
    <form #addCommentForm="ngForm" novalidate (ngSubmit)="createComment()">
      <textarea
        name="comment"
        required
        rows="4"
        nz-input
        [(ngModel)]="addComment.comment"
      ></textarea>
    </form>
  </div>
</nz-modal>
