<div style="margin-bottom: 20px" class="flex-wide">
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item
      ><a routerLink="/debitor"
        ><i nz-icon nzType="home" nzTheme="outline"></i></a
    ></nz-breadcrumb-item>
    <nz-breadcrumb-item>Bildiriş Təsdiq</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>
    <ng-container *rbac="[rolesList.SMSCHECKLIST_CANCELL_POST]">
      <button nz-button (click)="cancelSms()" *ngIf="checkedItems.length">
        Ləğv et
      </button>
      <button
        nz-button
        (click)="approveSms()"
        *ngIf="checkedItems.length"
        style="margin-left: 20px"
      >
        Təsdiqlə
      </button>
    </ng-container>
    <button
      nz-button
      nzType="primary"
      style="margin-left: 20px"
      (click)="approveAll()"
      *rbac="[rolesList.SMSCHECKLIST_APPROVEALL_POST]"
    >
      Hamısın təsdiqlə
    </button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      style="margin-left: 20px"
      (click)="cancelAll()"
    >
      Hamısın ləğv et
    </button>
    <button
      nz-button
      style="margin-left: 20px"
      (click)="showSMSpopup()"
      *rbac="[rolesList.SMSTIME_GET]"
    >
      SMS vaxt
    </button>
    <!--    <a nz-button routerLink="failed-notifications" nzType="link">-->
    <!--      Xətalı bildirişlər-->
    <!--    </a>-->
    <ng-container *ngIf="downloadReport() | async as reportLink">
      <app-excell-download
        style="margin-left: 20px"
        [reportLink]="reportLink"
        *rbac="[rolesList.DEBITOR_OPERATOR]"
      ></app-excell-download>
    </ng-container>
    <nz-date-picker
      [(ngModel)]="date"
      (ngModelChange)="onCreateDateFilterChange($event)"
      nzPlaceHolder="Formalaşma tarixi"
      style="margin-left: 20px"
    ></nz-date-picker>
  </div>
</div>
<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="smsCheckList$ | async as data">
    <app-sms-table
      [listOfData]="data"
      [count]="(count$ | async)!"
      [currentPage]="(currentPage$ | async)!"
      [columns]="columns"
      [statusList]="(statusList$ | async)!"
      [policySeries]="(policySeries$ | async)!"
      [insuredTypes]="(insuredTypes$ | async)!"
      [branches]="(branches$ | async)!"
      [communicationTypes]="(communicationTypes$ | async)!"
      (onEditMessage)="editMessage($event)"
      (checkedItems)="itemsChecked($event)"
      (searchKey)="search($event)"
      (resetKey)="resetFilter($event)"
      (pageChange)="pageChange($event)"
      (pageSizeChange)="pageSizeChange($event)"
    ></app-sms-table> </ng-container
></ng-container>
<nz-skeleton *ngIf="loading$ | async" [nzActive]="true"></nz-skeleton>
<nz-modal
  [(nzVisible)]="isSmsVisible"
  (nzOnCancel)="isSmsVisible = false"
  [nzFooter]="modalFooter"
  nzWidth="600px"
  nzTitle="SMS vaxt"
>
  <div *nzModalContent>
    <button
      nz-button
      nzType="primary"
      (click)="isSmsAddVisible = true"
      style="display: flex; float: right; margin-bottom: 10px"
      *rbac="[rolesList.SMSTIME_POST]"
    >
      Əlavə et
    </button>
    <ng-container *ngIf="smsTime$ | async as smsData">
      <nz-table
        #editRowTable
        [nzData]="smsData"
        [nzFrontPagination]="false"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzWidth="75%">Tarix</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let smsData of editRowTable.data">
            <td>{{ smsData.smsDate | date: "dd.MM.yyyy H:mm":"UTC" }}</td>
            <td>
              <div class="flex-wide">
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  (click)="openSmsEdit(smsData)"
                  *rbac="[rolesList.SMSTIME_PUT]"
                >
                  <span nz-icon nzType="edit"></span>
                </button>
                <button
                  nz-button
                  nzDanger
                  nzShape="circle"
                  (click)="deleteSmsTime(smsData.id)"
                  style="margin-left: 5px"
                  *rbac="[rolesList.SMSTIME_DELETE]"
                >
                  <span nz-icon nzType="delete"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </div>
  <nz-modal
    [(nzVisible)]="isSmsEditVisible"
    (nzOnCancel)="closeSmsModal()"
    [nzOkLoading]="isOkLoading"
    (nzOnOk)="editSmsTime()"
    nzTitle="SMS redaktə"
  >
    <div *nzModalContent>
      <p>
        Tarix və saat:
        <nz-date-picker
          [(ngModel)]="editDate"
          nzFormat="dd.MM.yyyy H:mm"
          nzShowTime
        ></nz-date-picker>
      </p>
    </div>
  </nz-modal>
  <nz-modal
    [(nzVisible)]="isSmsAddVisible"
    (nzOnCancel)="closeSmsModal()"
    [nzOkLoading]="isOkLoading"
    (nzOnOk)="addSmsTime()"
    nzTitle="SMS əlavə et"
  >
    <div *nzModalContent>
      <p>
        Tarix və saat:
        <nz-date-picker
          [(ngModel)]="newSmsTime"
          nzFormat="dd.MM.yyyy H:mm"
          nzShowTime
        ></nz-date-picker>
      </p>
    </div>
  </nz-modal>

  <ng-template #modalFooter> </ng-template>
</nz-modal>
<nz-modal
  [(nzVisible)]="isEditMessageVisible"
  (nzOnCancel)="closeSmsModal()"
  [nzOkLoading]="isOkLoading"
  (nzOnOk)="editMessageSubmit()"
  nzTitle="Göndəriləcək mesaj redaktə"
>
  <div *nzModalContent>
    <p>
      Göndəriləcək mesaj:
      <textarea
        style="margin-top: 10px"
        nz-input
        [(ngModel)]="editMessageText"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
    </p>
  </div>
</nz-modal>
