<ng-container *ngIf="params$ | async as params">
  <div class="flex-wide">
    <nz-tabset
      *ngIf="(pages$ | async)?.length"
      [(nzSelectedIndex)]="params.pageId"
      style="width: 100%; margin-right: 100px"
    >
      <nz-tab [nzTitle]="'Debitor'" (nzClick)="selectPage(0)"> </nz-tab>
      <nz-tab
        *ngFor="let page of pages$ | async"
        [nzTitle]="page.name | lowercase"
        (nzClick)="selectPage(page.id)"
      >
      </nz-tab>
    </nz-tabset>

    <div class="flex-wide">
      <button
        nz-button
        nzType="default"
        (click)="removeAllParams()"
        *ngIf="objectKeys(params).length > 3"
        style="margin-right: 20px"
      >
        <span nz-icon nzType="delete"></span>Filterləri təmizlə
      </button>
      <button
        nz-button
        nz-dropdown
        [nzDropdownMenu]="menu"
        [nzPlacement]="'bottomLeft'"
      >
        Filter
        <span nz-icon nzType="down"></span>
      </button>
      <nz-range-picker
        style="width: 250px; margin-left: 20px"
        [nzRanges]="ranges"
        nzFormat="dd/MM/yyyy"
        [(ngModel)]="columns.DebitorDate.searchValue"
        [name]="columns.DebitorDate.name"
        (ngModelChange)="onDateFilter($event, columns.DebitorDate.name)"
      ></nz-range-picker>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <label
              nz-checkbox
              [(ngModel)]="HasNewPayment"
              (ngModelChange)="topFilterChange(HasNewPayment, 'HasNewPayment')"
              >Ödəniş edənlər</label
            >
          </li>
          <li nz-menu-item>
            <label
              nz-checkbox
              [(ngModel)]="IsChanged"
              (ngModelChange)="topFilterChange(Cancelled, 'Cancelled')"
              >Xitam edilənlər</label
            >
          </li>
          <li nz-menu-item>
            <label
              nz-checkbox
              [(ngModel)]="Cancelled"
              (ngModelChange)="topFilterChange(IsChanged, 'IsChanged')"
              >Dəyişlik olanlar</label
            >
          </li>
        </ul>
      </nz-dropdown-menu>
      <ng-container *ngIf="downloadReport() | async as reportLink">
        <app-excell-download
          style="margin-left: 20px"
          [reportLink]="reportLink"
          *rbac="[rolesList.DEBITORS_REPORT_GET]"
        ></app-excell-download>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *rbac="[rolesList.DEBITORS_GET]"
  ><ng-container *ngIf="!(loading$ | async)">
    <ng-container *ngIf="debitors$ | async as data">
      <nz-table #nzTable [nzData]="data" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzCustomFilter>
              {{ columns.policyDate.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.policyDate.isSearchVisible"
                [nzActive]="columns.policyDate.searchValue.length > 0"
                [nzDropdownMenu]="policyDate"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.branchName.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.branchName.isSearchVisible"
                [nzActive]="columns.branchName.searchValue.length > 0"
                [nzDropdownMenu]="branchName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.policySeries.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.policySeries.isSearchVisible"
                [nzActive]="columns.policySeries.searchValue.length > 0"
                [nzDropdownMenu]="policySeries"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.policyNumber.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.policyNumber.isSearchVisible"
                [nzActive]="columns.policyNumber.searchValue.length > 0"
                [nzDropdownMenu]="policyNumber"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.insuredName.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.insuredName.isSearchVisible"
                [nzActive]="columns.insuredName.searchValue.length > 0"
                [nzDropdownMenu]="insuredName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.benefName.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.benefName.isSearchVisible"
                [nzActive]="columns.benefName.searchValue.length > 0"
                [nzDropdownMenu]="benefName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.bankName.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.bankName.isSearchVisible"
                [nzActive]="columns.bankName.searchValue.length > 0"
                [nzDropdownMenu]="bankName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.currencyId.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.currencyId.isSearchVisible"
                [nzActive]="columns.currencyId.searchValue.length > 0"
                [nzDropdownMenu]="currencyId"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.premium.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.premium.isSearchVisible"
                [nzActive]="columns.premium.searchValue.length > 0"
                [nzDropdownMenu]="premium"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.premiumAzn.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.premiumAzn.isSearchVisible"
                [nzActive]="columns.premiumAzn.searchValue.length > 0"
                [nzDropdownMenu]="premiumAzn"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.paidSumAzn.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.paidSumAzn.isSearchVisible"
                [nzActive]="columns.paidSumAzn.searchValue.length > 0"
                [nzDropdownMenu]="paidSumAzn"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.paidEdSumAzn.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.paidEdSumAzn.isSearchVisible"
                [nzActive]="columns.paidEdSumAzn.searchValue.length > 0"
                [nzDropdownMenu]="paidEdSumAzn"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.paidSumCurr.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.paidSumCurr.isSearchVisible"
                [nzActive]="columns.paidSumCurr.searchValue.length > 0"
                [nzDropdownMenu]="paidSumCurr"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>

            <th nzCustomFilter>
              {{ columns.policyDebtSum.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.policyDebtSum.isSearchVisible"
                [nzActive]="columns.policyDebtSum.searchValue.length > 0"
                [nzDropdownMenu]="policyDebtSum"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>

            <th nzCustomFilter>
              {{ columns.policyDebtSumAzn.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.policyDebtSumAzn.isSearchVisible"
                [nzActive]="columns.policyDebtSumAzn.searchValue.length > 0"
                [nzDropdownMenu]="policyDebtSumAzn"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebtTotal.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebtTotal.isSearchVisible"
                [nzActive]="columns.expiredDebtTotal.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebtTotal"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.instSumTotalFw.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.instSumTotalFw.isSearchVisible"
                [nzActive]="columns.instSumTotalFw.searchValue.length > 0"
                [nzDropdownMenu]="instSumTotalFw"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebt30.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebt30.isSearchVisible"
                [nzActive]="columns.expiredDebt30.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebt30"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebt60.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebt60.isSearchVisible"
                [nzActive]="columns.expiredDebt60.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebt60"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebt90.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebt90.isSearchVisible"
                [nzActive]="columns.expiredDebt90.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebt90"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebt180.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebt180.isSearchVisible"
                [nzActive]="columns.expiredDebt180.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebt180"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.expiredDebt181.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.expiredDebt181.isSearchVisible"
                [nzActive]="columns.expiredDebt181.searchValue.length > 0"
                [nzDropdownMenu]="expiredDebt181"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.instSum15Fw.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.instSum15Fw.isSearchVisible"
                [nzActive]="columns.instSum15Fw.searchValue.length > 0"
                [nzDropdownMenu]="instSum15Fw"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.instSum30Fw.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.instSum30Fw.isSearchVisible"
                [nzActive]="columns.instSum30Fw.searchValue.length > 0"
                [nzDropdownMenu]="instSum30Fw"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.ifrs.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.ifrs.isSearchVisible"
                [nzActive]="columns.ifrs.searchValue.length > 0"
                [nzDropdownMenu]="ifrs"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.firstStartDate.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.firstStartDate.isSearchVisible"
                [nzActive]="columns.firstStartDate.searchValue.length > 0"
                [nzDropdownMenu]="firstStartDate"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.lastEndDate.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.lastEndDate.isSearchVisible"
                [nzActive]="columns.lastEndDate.searchValue.length > 0"
                [nzDropdownMenu]="lastEndDate"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.respPersonName.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.respPersonName.isSearchVisible"
                [nzActive]="columns.respPersonName.searchValue.length > 0"
                [nzDropdownMenu]="respPersonName"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.createUser.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.createUser.isSearchVisible"
                [nzActive]="columns.createUser.searchValue.length > 0"
                [nzDropdownMenu]="createUser"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.insuredType.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.insuredType.isSearchVisible"
                [nzActive]="columns.insuredType.searchValue.length > 0"
                [nzDropdownMenu]="insuredType"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>

            <th nzCustomFilter>
              {{ columns.compval.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.compval.isSearchVisible"
                [nzActive]="columns.compval.searchValue.length > 0"
                [nzDropdownMenu]="compval"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th nzCustomFilter>
              {{ columns.cntrl.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="columns.cntrl.isSearchVisible"
                [nzActive]="columns.cntrl.searchValue.length > 0"
                [nzDropdownMenu]="cntrl"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.policyDate | date: "dd.MM.yyyy" }}</td>
            <td>{{ data.branchName }}</td>
            <td>{{ data.policySeries }}</td>
            <td>{{ data.policyNumber }}</td>
            <td>
              <a
                [routerLink]="[
                  this.insuredTypesEnum[data.insuredType],
                  data.insureTypeId,
                  data.insuredId
                ]"
                >{{ data.insuredName }}</a
              >
            </td>
            <td>{{ data.benefName }}</td>
            <td>{{ data.bankName }}</td>
            <td>{{ data.currencyName }}</td>
            <td>{{ data.premium }}</td>
            <td>{{ data.premiumAzn }}</td>
            <td>{{ data.paidSumAzn }}</td>
            <td>{{ data.paidEdSumAzn }}</td>
            <td>{{ data.paidSumCurr }}</td>
            <td>{{ data.policyDebtSum }}</td>
            <td>{{ data.policyDebtSumAzn }}</td>
            <td>{{ data.expiredDebtTotal }}</td>
            <td>{{ data.instSumTotalFw }}</td>
            <td>{{ data.expiredDebt30 }}</td>
            <td>{{ data.expiredDebt60 }}</td>
            <td>{{ data.expiredDebt90 }}</td>
            <td>{{ data.expiredDebt180 }}</td>
            <td>{{ data.expiredDebt181 }}</td>
            <td>{{ data.instSum15Fw }}</td>
            <td>{{ data.instSum30Fw }}</td>
            <td>{{ data.ifrs }}</td>
            <td>{{ data.firstStartDate | date: "dd.MM.yyyy" }}</td>
            <td>{{ data.lastEndDate | date: "dd.MM.yyyy" }}</td>
            <td>{{ data.respPersonName }}</td>
            <td>{{ data.createUser }}</td>
            <td>{{ getInsuredType(data.insuredType) }}</td>

            <td>{{ data.compval }}</td>

            <td>{{ data.cntrl }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>
</ng-container>
<nz-pagination
  [nzPageIndex]="currentPage$ | async"
  [nzTotal]="count$ | async"
  (nzPageIndexChange)="pageChange($event)"
  (nzPageSizeChange)="pageSizeChange($event)"
  [nzPageSize]="(params$ | async)!.limit"
  nzShowQuickJumper
  nzShowSizeChanger
  *ngIf="!(loading$ | async)"
></nz-pagination>
<nz-dropdown-menu #policySeries="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        nzShowSearch
        nzPlaceHolder="SŞ axtar"
        [(ngModel)]="columns.policySeries.searchValue"
        [nzShowArrow]="true"
        (ngModelChange)="search('policySeries')"
      >
        <nz-option
          *ngFor="let b of policySeries$ | async"
          [nzLabel]="b.code"
          [nzValue]="b.code"
        ></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('policySeries')"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('policySeries')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #cntrl="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        nzPlaceHolder="Cntrl"
        [(ngModel)]="columns.cntrl.searchValue"
        [nzShowArrow]="true"
        (ngModelChange)="search('cntrl')"
      >
        <nz-option [nzLabel]="'OK'" [nzValue]="1"></nz-option>
        <nz-option [nzLabel]="'Err'" [nzValue]="2"></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('cntrl')"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('cntrl')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #policyNumber="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form class="search-box" (submit)="search('policyNumber')">
      <input
        type="number"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.policyNumber.searchValue"
        [name]="columns.policyNumber.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        type="submit"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('policyNumber')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #currencyId="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Valyuta axtar"
        [(ngModel)]="columns.currencyId.searchValue"
        [nzShowArrow]="true"
        (ngModelChange)="search('currencyId')"
      >
        <nz-option
          *ngFor="let b of currencies$ | async"
          [nzLabel]="b.currency"
          [nzValue]="b.id"
        ></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('currencyId')"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('currencyId')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #insuredName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form class="search-box" (submit)="search('insuredName')">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.insuredName.searchValue"
        [name]="columns.insuredName.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        type="submit"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('insuredName')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #insuredType="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        nzShowSearch
        [nzPlaceHolder]="columns.insuredType.displayName"
        [(ngModel)]="columns.insuredType.searchValue"
        [nzShowArrow]="true"
        (ngModelChange)="search('insuredType')"
      >
        <nz-option
          *ngFor="let b of insuredTypes$ | async"
          [nzLabel]="b.description"
          [nzValue]="b.type"
        ></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('insuredType')"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('insuredType')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #bankName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('bankName')" class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.bankName.searchValue"
        [name]="columns.bankName.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('bankName')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #benefName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('benefName')" class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.benefName.searchValue"
        [name]="columns.benefName.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('benefName')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #branchName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form class="search-box" (submit)="search('branchName')">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Ofis axtar"
        [(ngModel)]="columns.branchName.searchValue"
        [name]="columns.branchName.name"
        [nzShowArrow]="true"
        (ngModelChange)="search('branchName')"
      >
        <nz-option
          *ngFor="let b of branches$ | async"
          [nzLabel]="b.branchName"
          [nzValue]="b.branchName"
        ></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        type="submit"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('branchName')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #compval="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        [nzPlaceHolder]="columns.compval.displayName"
        [(ngModel)]="columns.compval.searchValue"
        [nzShowArrow]="true"
        (ngModelChange)="search('compval')"
      >
        <nz-option [nzLabel]="'Könüllü'" [nzValue]="'Könüllü'"></nz-option>
        <nz-option [nzLabel]="'İcbari'" [nzValue]="'İcbari'"></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('compval')"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('compval')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #ifrs="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-select
        nzShowSearch
        [nzPlaceHolder]="columns.ifrs.displayName"
        [(ngModel)]="columns.ifrs.searchValue"
        [name]="columns.ifrs.name"
        [nzShowArrow]="true"
        (ngModelChange)="search('ifrs')"
      >
        <nz-option
          *ngFor="let b of ifrs$ | async"
          [nzLabel]="b.ifrs"
          [nzValue]="b.ifrs"
        ></nz-option>
      </nz-select>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search('ifrs')"
        class="search-button"
        type="submit"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('ifrs')">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #premium="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('premium')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.premium.min"
            [name]="'premium-min'"
        /></label>

        <label>
          Max
          <input
            type="number"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.premium.max"
            [name]="'premium-max'"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('premium')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #premiumAzn="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('premiumAzn')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.premiumAzn.min"
            [name]="'premiumAzn-min'"
        /></label>

        <label>
          Max
          <input
            type="number"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.premiumAzn.max"
            [name]="'premiumAzn-max'"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('premiumAzn')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #policyDebtSum="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('policyDebtSum')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.policyDebtSum.min"
            [name]="'policyds-min'"
        /></label>

        <label>
          Max
          <input
            type="number"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.policyDebtSum.max"
            [name]="'policyds-max'"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('policyDebtSum')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #policyDebtSumAzn="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('policyDebtSumAzn')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="policydsazn-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.policyDebtSumAzn.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="policydsazn-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.policyDebtSumAzn.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="resetFilter('policyDebtSumAzn')"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #paidSumAzn="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('paidSumAzn')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="paidsuzazn-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.paidSumAzn.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="paidsuzazn-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.paidSumAzn.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('paidSumAzn')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #paidEdSumAzn="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('paidEdSumAzn')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="paidedsumazn-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.paidEdSumAzn.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="paidedsumazn-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.paidEdSumAzn.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('paidEdSumAzn')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #paidSumCurr="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('paidSumCurr')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="paidsumcurr-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.paidSumCurr.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="paidsumcurr-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.paidSumCurr.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('paidSumCurr')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #policyDate="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form class="search-box" (submit)="search('policyDate')">
      <nz-range-picker
        [(ngModel)]="columns.policyDate.searchValue"
        [name]="columns.policyDate.name"
        (ngModelChange)="onDateFilter($event, columns.policyDate.name)"
      ></nz-range-picker>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('policyDate')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebt30="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebt30')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="exp30-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebt30.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="exp30-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebt30.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('expiredDebt30')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebt60="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebt60')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="exp60-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebt60.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="exp60-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebt60.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('expiredDebt60')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebt90="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebt90')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="exp90-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebt90.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="exp90-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebt90.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('expiredDebt90')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebt180="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebt180')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="exp180-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebt180.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="exp180-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebt180.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="resetFilter('expiredDebt180')"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebt181="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebt181')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="exp181-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebt181.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="exp181-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebt181.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="resetFilter('expiredDebt181')"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #instSum15Fw="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('instSum15Fw')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="inssum15-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.instSum15Fw.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="inssum15-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.instSum15Fw.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('instSum15Fw')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #instSum30Fw="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('instSum30Fw')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="instsum30-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.instSum30Fw.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="instsum30-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.instSum30Fw.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetFilter('instSum30Fw')">
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #instSumTotalFw="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('instSumTotalFw')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="instsumfw-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.instSumTotalFw.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="instsumfw-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.instSumTotalFw.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="resetFilter('instSumTotalFw')"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #expiredDebtTotal="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('expiredDebtTotal')" class="search-box">
      <div class="min-max">
        <label
          >Min
          <input
            type="number"
            name="expdebttotal-min"
            nz-input
            placeholder="Min"
            [(ngModel)]="columns.expiredDebtTotal.min"
        /></label>

        <label>
          Max
          <input
            type="number"
            name="expdebttotal-max"
            nz-input
            placeholder="Max"
            [(ngModel)]="columns.expiredDebtTotal.max"
          />
        </label>
      </div>
      <div class="btns">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          type="submit"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="resetFilter('expiredDebtTotal')"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #respPersonName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form class="search-box" (submit)="search('respPersonName')">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.respPersonName.searchValue"
        [name]="columns.respPersonName.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('respPersonName')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #createUser="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('createUser')" class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="columns.createUser.searchValue"
        [name]="columns.createUser.name"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('createUser')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #firstStartDate="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('firstStartDate')" class="search-box">
      <nz-range-picker
        [(ngModel)]="columns.firstStartDate.searchValue"
        [name]="columns.firstStartDate.name"
        (ngModelChange)="onDateFilter($event, columns.firstStartDate.name)"
      ></nz-range-picker>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('firstStartDate')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #lastEndDate="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <form (submit)="search('lastEndDate')" class="search-box">
      <nz-range-picker
        [(ngModel)]="columns.lastEndDate.searchValue"
        [name]="columns.lastEndDate.name"
        (ngModelChange)="onDateFilter($event, columns.lastEndDate.name)"
      ></nz-range-picker>

      <button
        nz-button
        nzSize="small"
        nzType="primary"
        class="search-button"
        type="submit"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="resetFilter('lastEndDate')">
        Reset
      </button>
    </form>
  </div>
</nz-dropdown-menu>

<nz-skeleton *ngIf="loading$ | async" [nzActive]="true"></nz-skeleton>
