<form [formGroup]="campaignReactiveForm" (submit)="submitCampaign()">
  <div class="wrapper">
    <div class="header">
      <button nz-button nzType="primary" nzShape="circle">1</button>
      <h5 nz-typography>Ümumi məlumatlar</h5>
    </div>
    <div class="content">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="12">
          <ng-container *ngIf="insuredTypes$ | async as insuredTypes">
            <label>Sığorta növü</label>
            <nz-select
              formControlName="insureTypeId"
              nzPlaceHolder="Sığorta növü seçin"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of insuredTypes"
                [nzValue]="option.id"
                [nzLabel]="option.name"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
        <div nz-col nzSpan="12">
          <ng-container *ngIf="series$ | async as series">
            <label>Seriyalar</label>
            <nz-select
              formControlName="policySeries"
              nzMode="multiple"
              nzPlaceHolder="Seriyalar seçin"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of series"
                [nzValue]="option.code"
                [nzLabel]="option.code"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="header">
      <button nz-button nzType="primary" nzShape="circle">2</button>
      <h5 nz-typography>Müştəri məlumatları</h5>
    </div>
    <div class="content">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
          <ng-container *ngIf="customerCategory$ | async as customerCategory">
            <label>Sığortalı növü</label>
            <nz-select
              formControlName="clientCategoryId"
              nzPlaceHolder="Sığortalı növü seçin"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of customerCategory"
                [nzValue]="option.id"
                [nzLabel]="option.CustomerCategory"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
        <div nz-col nzSpan="8">
          <ng-container
            *ngIf="customerCategoryRefund$ | async as customerCategoryRefund"
          >
            <label>Müştəri kateqoriyası</label>
            <nz-select
              formControlName="clientCategoryBelongCampaignId"
              nzPlaceHolder="Müştəri kateqoriyası seçin"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of customerCategoryRefund"
                [nzValue]="option.id"
                [nzLabel]="option.CustomerCategoryRefund"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
        <div nz-col nzSpan="8">
          <ng-container
            *ngIf="
              campaignReactiveForm.get('clientCategoryBelongCampaignId')!
                .value !== 10
            "
          >
            <ng-container *ngIf="eventHistory$ | async as eventHistory">
              <label>Hadisə tarixçəsi</label>
              <nz-select
                formControlName="choiseClaimHistoryId"
                nzPlaceHolder="Hadisə tarixçəsi seçin"
                [nzDisabled]="isEdit"
              >
                <nz-option
                  *ngFor="let option of eventHistory"
                  [nzValue]="option.id"
                  [nzLabel]="option.EventHistory"
                ></nz-option>
              </nz-select>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="header">
      <button nz-button nzType="primary" nzShape="circle">3</button>
      <h5 nz-typography>Kampaniya məlumatları</h5>
    </div>
    <div class="content">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="12">
          <label>Kampaniya adı</label>
          <input
            type="text"
            nz-input
            formControlName="productName"
            placeholder="Kampaniya adı daxil edin"
          />
        </div>
        <div nz-col nzSpan="12">
          <label>Minimum sığorta haqqı</label>
          <input
            type="number"
            nz-input
            formControlName="minimumInsuranceAmount"
            placeholder="Minimum sığorta haqqı daxil edin"
          />
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
          <label>Promo kod</label>
          <input
            type="text"
            nz-input
            formControlName="promoCode"
            placeholder="Promo kod daxil edin"
          />
        </div>
        <div nz-col nzSpan="8">
          <ng-container *ngIf="salesCampaign$ | async as salesCampaign">
            <label>Kampaniya növü</label>
            <nz-select
              formControlName="campaignType"
              nzPlaceHolder="Kampaniya növü seçin"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of salesCampaign"
                [nzValue]="option.id"
                [nzLabel]="option.SalesCampaign"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
        <div
          nz-col
          nzSpan="8"
          *ngIf="campaignReactiveForm.get('campaignType')!.value === 10"
        >
          <ng-container *ngIf="discountType$ | async as discountType">
            <label>Endirim növü</label>
            <nz-select
              nzAllowClear
              nzPlaceHolder="Endirim növü seçin"
              formControlName="discountType"
              [nzDisabled]="isEdit"
            >
              <nz-option
                *ngFor="let option of discountType"
                [nzValue]="option.SalesCampaignId"
                [nzLabel]="option.SalesType"
              ></nz-option>
            </nz-select>
          </ng-container>
        </div>
        <!--        <div-->
        <!--          nz-col-->
        <!--          nzSpan="8"-->
        <!--          *ngIf="campaignReactiveForm.get('campaignType')!.value === 20"-->
        <!--        >-->
        <!--          <ng-container *ngIf="presents$ | async as presents">-->
        <!--            <nz-select-->
        <!--              nzMode="tags"-->
        <!--              nzPlaceHolder="Hədiyyə seçimi"-->
        <!--              [nzDisabled]="isEdit"-->
        <!--            >-->
        <!--              <nz-option-->
        <!--                *ngFor="let option of presents"-->
        <!--                [nzValue]="option.id"-->
        <!--                [nzLabel]="option.PresentName"-->
        <!--              ></nz-option>-->
        <!--            </nz-select>-->
        <!--          </ng-container>-->
        <!--        </div>-->
      </div>
      <ng-template #percentPrefix
        ><span
          *ngIf="campaignReactiveForm.get('discountType')?.value === 20"
          nz-icon
          nzType="percentage"
        ></span
      ></ng-template>
      <div
        nz-col
        nzSpan="24"
        *ngIf="campaignReactiveForm.get('discountType')?.value !== 'null'"
        style="margin: 10px 0"
      >
        <ng-template #percentMaxPrefix
          ><span nz-icon nzType="percentage"></span
        ></ng-template>
        <label>SŞ üzrə maksimum endirim faizi</label>
        <nz-input-group [nzPrefix]="percentMaxPrefix">
          <input
            type="number"
            max="90"
            nz-input
            formControlName="maximumDiscountLimit"
            placeholder="Maksimum endirim faizi daxil edin"
            name="discount"
          />
        </nz-input-group>
      </div>
      <div
        nz-row
        *ngIf="campaignReactiveForm.get('discountType')?.value !== 'null'"
        formArrayName="discountDetails"
      >
        <nz-form-item
          *ngFor="let control of discountDetails.controls; let i = index"
          [formGroupName]="i"
          style="width: 100%; display: block"
        >
          <div nz-row [nzGutter]="24">
            <div nz-col nzSpan="7">
              <label>Minimum s.h.</label>
              <input
                type="number"
                nz-input
                formControlName="minInsuranceAmount"
                placeholder="Minimum s.h. daxil edin"
                name="minValue"
                [nzStatus]="
                  !control.get('minInsuranceAmount')!.valid ? 'error' : ''
                "
                (keyup)="
                  discountMinChange(i, control.get('minInsuranceAmount')!)
                "
              />
            </div>
            <div nz-col nzSpan="7">
              <label>Maksimum s.h.</label>
              <input
                type="number"
                nz-input
                formControlName="maxInsuranceAmount"
                placeholder="Maksimum s.h. daxil edin"
                name="maxValue"
                [nzStatus]="
                  !control.get('maxInsuranceAmount')!.valid ? 'error' : ''
                "
                (keyup)="
                  discountMaxChange(i, control.get('maxInsuranceAmount')!)
                "
              />
            </div>
            <div nz-col nzSpan="7">
              <label>Endirim daxil</label>
              <nz-input-group [nzPrefix]="percentPrefix">
                <input
                  type="number"
                  nz-input
                  formControlName="discountAmount"
                  placeholder="Endirim daxil edin"
                  name="discount"
                />
              </nz-input-group>
            </div>
            <div nz-col nzSpan="3">
              <button
                (click)="removeDiscountDetails(i)"
                nz-button
                nzType="default"
                nzShape="circle"
                style="margin-top: 26px"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </div>
          </div>
        </nz-form-item>
        <button
          nz-button
          nzType="primary"
          (click)="addDiscountDetails()"
          style="width: 100%"
          *ngIf="!isEdit"
        >
          <span nz-icon nzType="plus"></span>
          Əlavə et
        </button>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="12">
          <label>Başlama tarixi</label>
          <nz-date-picker
            [nzDisabledDate]="disabledDate"
            [nzDisabledTime]="disabledDateTime"
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            [nzDisabled]="isActiveCampaign"
            style="width: 100%"
            nzFormat="dd/MM/yyy HH:mm"
            formControlName="startDate"
            [nzPlaceHolder]="['Başlama tarixi']"
          ></nz-date-picker>
        </div>
        <div nz-col nzSpan="12">
          <label>Bitmə tarixi</label>
          <nz-date-picker
            [nzDisabledDate]="disabledEndDate"
            [nzDisabledTime]="disabledDateTime"
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            style="width: 100%"
            nzFormat="dd/MM/yyy HH:mm"
            formControlName="endDate"
            [nzPlaceHolder]="['Başlama tarixi']"
          ></nz-date-picker>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="24">
          <label>Təsviri</label>
          <textarea rows="4" formControlName="description" nz-input></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-button">
    <button
      nz-button
      nzType="primary"
      type="submit"
      [nzLoading]="isLoading"
      [disabled]="!campaignReactiveForm.valid"
    >
      ƏLAVƏ ET
    </button>
    <button nz-button nzType="default" routerLink="/campaigns">
      İMTİNA ET
    </button>
  </div>
</form>
