<div style="margin-bottom: 20px" class="flex-wide">
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item
      ><a routerLink="/debitor"
        ><i nz-icon nzType="home" nzTheme="outline"></i></a
    ></nz-breadcrumb-item>
    <nz-breadcrumb-item>Tarixçəm</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>
    <ng-container *ngIf="downloadReport() | async as reportLink">
      <app-excell-download [reportLink]="reportLink"></app-excell-download>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="history$ | async as data">
    <nz-table #basicTable [nzData]="data" [nzFrontPagination]="false">
      <thead>
        <tr>
          <ng-container *ngFor="let col of columns | keyvalue: originalOrder">
            <th *ngIf="col.key !== 'id'" nzCustomFilter>
              {{ col.value.displayName }}
              <nz-filter-trigger
                [(nzVisible)]="col.value.isSearchVisible"
                [nzActive]="col.value.searchValue.length > 0"
                [nzDropdownMenu]="filter"
              >
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>

              <nz-dropdown-menu #filter="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input
                      *ngIf="col.value.name.indexOf('Date') < 0"
                      type="text"
                      nz-input
                      placeholder="Search name"
                      [(ngModel)]="col.value.searchValue"
                    />
                    <nz-range-picker
                      *ngIf="col.value.name.indexOf('Date') > 0"
                      [(ngModel)]="col.value.searchValue"
                      (ngModelChange)="onDateFilter($event, col.value.name)"
                    ></nz-range-picker>
                    <button
                      nz-button
                      nzSize="small"
                      nzType="primary"
                      (click)="search(col.value.name)"
                      class="search-button"
                    >
                      Search
                    </button>
                    <button
                      nz-button
                      nzSize="small"
                      (click)="resetFilter(col.value.name)"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </nz-dropdown-menu>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.operationDate | date: "dd.MM.yyyy" }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.description }}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination
      [nzPageIndex]="currentPage$ | async"
      [nzTotal]="count$ | async"
      (nzPageIndexChange)="pageChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
      [nzPageSize]="(params$ | async)!.limit"
      nzShowQuickJumper
      nzShowSizeChanger
      *ngIf="!(loading$ | async)"
    ></nz-pagination> </ng-container
></ng-container>
<nz-skeleton *ngIf="loading$ | async" [nzActive]="true"></nz-skeleton>
