<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="debitorComments$ | async as data">
    <div class="flex-wide" style="margin-bottom: 20px">
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item
          ><a routerLink="/debitor">Siyahı</a></nz-breadcrumb-item
        >
        <nz-breadcrumb-item>
          {{ debitorPersonName$ | async }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Detallı məlumat</nz-breadcrumb-item>
        <nz-breadcrumb-item>Şərh</nz-breadcrumb-item>
      </nz-breadcrumb>
      <button nz-button nzType="primary" (click)="isAddCommentVisible = true">
        Şərh yaz
      </button>
    </div>
    <nz-table #debitorComments [nzData]="data">
      <thead>
        <tr>
          <th>İstifadəçi adı</th>
          <th>Tarix və saat</th>
          <th>Mətn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of debitorComments.data">
          <td>{{ data.username }}</td>
          <td>{{ data.commentDate | date: "dd.MM.yyyy" }}</td>
          <td>
            {{ data.comment }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</ng-container>
<nz-skeleton *ngIf="loading$ | async" [nzActive]="true"></nz-skeleton>
<nz-modal
  [(nzVisible)]="isAddCommentVisible"
  nzTitle="Şərh yaz"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="createComment()"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <textarea rows="4" nz-input [(ngModel)]="newComment"></textarea>
  </div>
</nz-modal>
